.rainbow {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body {
    background-color: #2b2d31;
    font-family: 'Roboto', sans-serif;
  }

  button {
    cursor: pointer;
  }

  button:hover {
    opacity: 1;
    background-color: rgba(230, 230, 230, 0.5);
    transition: .2s;
    size: 110%;
  }

  a {
    color: white
  }

  .glow {
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }

  .center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
  }

  .glassrectangle {
  height: 300px;
  width: 600px;
  background-color: #555;
  background: rgba(232, 255, 250, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  z-index: 100;
  }