body {

    background-image: url("https://htmlcolorcodes.com/assets/images/colors/steel-gray-color-solid-background-1920x1080.png");

}

#bird {

    margin-left: 10%;
    margin-bottom: 10%;

} 

#win {

    visibility: hidden;
    text-align: center;

}

#winButton {

    visibility: hidden;
    text-align: center;

}

#StartText{ 

    visibility: hidden;

}

#StartButton {

    visibility: hidden;
    width: 500px;
    height: 600px;

}